<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.kiosk_sensors_plugin">
  
  <!-- USB Host permissions for POS devices -->
  <uses-permission android:name="android.permission.USB_PERMISSION" />
  <uses-feature android:name="android.hardware.usb.host" android:required="true" />
  
</manifest>
